@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
  --color-tipo-normal: #a8a77a;
  --color-tipo-fire: #ee8130;
  --color-tipo-water: #6390f0;
  --color-tipo-eletric: #f7d02c;
  --color-tipo-grass: #7ac74c;
  --color-tipo-ice: #96d9d6;
  --color-tipo-fighting: #c22e28;
  --color-tipo-poison: #a33ea1;
  --color-tipo-ground: #e2bf65;
  --color-tipo-flying: #a98ff3;
  --color-tipo-psychic: #f95587;
  --color-tipo-bug: #a6b91a;
  --color-tipo-rock: #b6a136;
  --color-tipo-ghost: #735797;
  --color-tipo-dragon: #6f35fc;
  --color-tipo-dark: #705746;
  --color-tipo-steel: #b7b7ce;
  --color-tipo-fairy: #d685ad;

  --color-white: #f2f9fc;
  --color-red: #c20f0f;
  --color-gray: #ccc;
  --color-gray-dark: #4b4a4ab2;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
  transition: all 100ms;
}

body {
  width: 100%;
  height: 100dvh;

  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;

  background-color: var(--color-gray);
}

#id_main {
  position: absolute;
  font-size: 35rem;
  font-weight: bold;
  font-style: italic;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: -1000;
  color: #7f80833d;
}

#main-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btnSeta {
  width: 64px;
  height: 64px;
  background-color: transparent;
  border: none;
}

#back {
  transform: rotateZ(180deg);
}
.btnImg {
  width: 60px;
  height: 60px;
  transition: all 200ms;
}
.btnImg:hover {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

#pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

#sprite {
  width: 350px;
  height: 350px;
}

#tipo_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.mainTipo {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  padding: 10px;

  border-radius: 0.8rem;
}

.tipoIcon {
  width: 24px;
  height: 24px;
}

.tipo {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;

  text-transform: capitalize;
  color: var(--color-white);
}

#pokemon_status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nome {
  text-align: center;
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: bold;
}

#id {
  padding: 5px;
  border-radius: 0.8rem;
  background-color: var(--color-gray-dark);
}

.input{
       margin: 40px 0px;
}

#btnEntre {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;

  top: 50px;
  left: 55%;
  position: absolute;
}

#lupaBtn {
  width: 40px;
  height: 40px;
}
#lupaBtn:hover {
  cursor: pointer;
}

#inputId {
  width: 300px;
  height: 60px;

  border: none;
  outline: none;
  border-radius: 2rem;

  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;

  background-color: var(--color-gray-dark);
  caret-color: var(--color-gray-dark);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
